---
layout: default
---
<header>
  <img style="float:left; padding-right:20px;" alt="The logo for the site: a vector drawing of a grannycart." src="assets/images/grannycart-logo.png" height=200px>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
  <p>&nbsp;</p>
  {% include analytics.html %}
  <!-- above is supposed to suck in the google analytics code from the _includes directory -->
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
